/* Base */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-style: normal;
}

:root {
  --header-bg: #10375c;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.heading {
  --size: 5rem;
  --line-height: normal;
  --letter-space: normal;
  color: #10375c;
  font-size: var(--size);
  font-weight: 600;
  line-height: var(--line-height);
  letter-spacing: var(--letter-space);
}

.desc {
  --line-height: 166%;
  --size: 1.8rem;
  color: #575f66;
  font-size: var(--size);
  line-height: var(--line-height);
  font-weight: 300;
}

.btn {
  display: inline-block;
  --height: 60px;
  color: #fff;
  background: #2e80ce;
  height: var(--height);
  min-width: 205px;
  padding: 0 20px;
  font-size: 1.6rem;
  text-align: center;
  border: 1px solid #2e80ce;
  line-height: var(--height);
  font-weight: 400;
  border-radius: 999px;
}

.btn:hover {
  opacity: 92%;
  cursor: pointer;
}

/* .sticky {
  position: sticky;
  top: 30px;
  z-index: 2;
  background: var(--header-bg);
} */

/* Header */
.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-size: 1rem;
  display: inline-flex;
  position: relative;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  width: 1.6em;
  height: 1.6em;
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  background-color: #fff;
}

.logo__text {
  text-align: right;
  margin-left: 0.6em;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  color: #fff;
  font-size: 1.8em;
  font-weight: 400;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Navbar */
.navbar__item {
  display: inline-block;
  padding: 4px 42px;
}

.navbar__link,
.header-action__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  left: -6px;
  top: -4px;
}

/* header action */
.header-action {
  display: flex;
  align-items: center;
}

.header-action__signup {
  --height: 44px;
  margin-left: 28px;
  min-width: 104px;
}

/* Hero */
.hero {
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Hero content */
.hero__content {
  width: 44%;
}

.hero__heading {
  --size: 7rem;
  --leter-space: -1.4px;
  --line-height: 114%;
  width: 517px;
  color: #fff;
  font-weight: 600;
}

.hero__desc {
  margin-top: 22px;
  width: 468px;
  color: #c9d2da;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone-number {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

/* Hero media */
.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__image {
  width: 330px;
  height: 540px;
  object-fit: cover;
  border-radius: 6px;
}

.hero__image:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__image:last-child {
  width: 210px;
  height: 410px;
}

/* Service */
.service {
  padding: 170px 0;
}

.service__top {
  text-align: center;
}

.service__heading {
  --line-height: 120%;
  --letter-space: -1px;
}

.service__heading-desc {
  display: inline-block;
  width: 468px;
  margin-top: 18px;
}

.service__body {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__image {
  width: 570px;
  height: 570px;
  object-fit: cover;
  object-position: top;
  border-radius: 12px;
}

.service-item {
  padding: 21px;
  border-radius: 10px;
  width: 470px;
  display: flex;
  transition: 0.15s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background: #eff6fd;
  color: #10375c;
  border-radius: 50%;
  transition: 0.23s;
}

.service-item:hover .service-item__icon {
  background-color: #2e80ce;
  color: #fff;
}

.service-item__content {
  margin-left: 19px;
}

.service-item__name {
  --size: 1.8rem;
  --line-height: 127%;
}

.service-item__desc {
  --size: 1.6rem;
  --line-height: 175%;
  margin-top: 8px;
}

.service__btn {
  margin-top: 55px;
}

/* How it works */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work__heading {
  --line-height: 120%;
  --letter-space: -1px;
}

.work__desc {
  width: 468px;
  margin-top: 18px;
}

.work__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  border: 16px solid #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  --size: 2.6rem;
  --line-height: 138%;
  margin-top: 18px;
}

.work-item__desc {
  margin-top: 28px;
}

.work-item__desc,
.work-item__more {
  --line-height: 175%;
  --size: 1.6rem;
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-weight: 400px;
}
